.wrapper {
  max-width: 90rem;
  margin: 2rem auto;
  padding: 0 1rem;
  margin-top: -32px;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.wrapperList {
  width: 46rem;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}
