STRIPE_API_KEY=your_secret_key
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=your_public_key
STRIPE_SUCCESS_URL=http://localhost:3000/posts
STRIPE_CANCEL_URL=http://localhost:3000/

NEXTAUTH_URL=http://localhost:3000/

GITHUB_CLIENT_ID=your_client_id
GITHUB_CLIENT_SECRET=your_client_secret

FAUNADB_KEY=your_secret_key