STRIPE_API_KEY=your_secret_key
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=your_public_key
STRIPE_WEBHOOK_SECRET=your_webhook_secret
STRIPE_SUCCESS_URL=http://localhost:3000/posts
STRIPE_CANCEL_URL=http://localhost:3000/

NEXTAUTH_URL=http://localhost:3000/

GITHUB_CLIENT_ID=your_client_id
GITHUB_CLIENT_SECRET=your_client_secret

FAUNADB_KEY=your_secret_key

PRISMIC_ENDPOINT=your_prismic_endpoint
PRISMIC_ACCESS_TOKEN=your_prismic_access_token